body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.video {
    margin-top: 20px;
    border: 4px solid #22c55e;
    border-radius: 10px;
    width: 720px;
}

footer {
    margin-top: 20px;
    color: #94a3b8;
}
